body {
    padding: 0;
    text-align: center;
    background: url(/imgs/plex-arcade-hero-synth-grid.png)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    
}
  
  
  .game-intro {
    float: right;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #bd6b01;
    color: #fff;
    padding: 10px 40px;
    border: 0;
    box-shadow: 0;
    
  }
  
  #game-board {
      float: center;
      padding: 20px 0px;
  }